body{
    margin: 0;
    padding: 0;
    background-image: url("images/bg.jpg");
}

/* Login page div */

.login{
    display: block;
    background-image: url('images/lines.jpg');
    /*background-color: rgba(255, 255, 255, 0.8);*/
    width: 400px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 5px;
    padding: 20px;
}


.login .wlcm h2{
    text-align: center;
    color: black;
    font-family: "Candara";
    font-size: 25pt;
    font-weight: bold;
}

.login .avatar{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}

.login .avatar img{
    width:120px;
    height: 120px;
}

.login .form{
    display: block;
    margin: auto;
    text-align: center;
}

.login .form #input{
    height: 50px;
    font-size: 14pt;
    font-weight: bold;
    font-family: "Candara";
}
.login .form #submit{
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    background-color: darkblue;
    color: white;
    font-size: 14pt;
    font-weight: bold;
    font-family: "Candara";
    margin-bottom: 20px;
}

.login .form #submit:hover{
    background-color: blue;
    color: white;
}

.login .form #warn{
    margin-bottom: 10px;
    margin-top: 5px;
    display: block;
    color: red;
    font-size: 12pt;
    width: 130px;
}

/*Rules page div */


.rules{
    display: none;
    background-image: url('images/lines.jpg');
    background-size: cover;
    width: 70%;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}

.rules .header h2{
    font-family: "Candara";
    font-weight: bold;
    font-size: 27pt;
    margin-bottom: 30px;
    color: black;
}

.rules .text p{
    padding: 40px;
    font-size: 17pt;
    font-family: "Candara";
    font-weight: 500;
    color: black;
    border-top: 2px solid lightgrey;
    border-bottom: 2px solid lightgrey;
    margin-top: 20px;
    background-clip: padding-box;
    backdrop-filter: blur(5px);

}

.rules .begin #start{
    margin-top: 10px;

    display: block;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    background-color: darkblue;
    color: white;
    font-size: 14pt;
    font-weight: bold;
    font-family: "Candara";
    margin-bottom: 10px;
    float: right;
    width: 200px;
    margin-right: 20px;

}

.rules .begin #start:hover{
    background-color: blue;
}

.rules .text mark{
    background-color: lightblue;
    color: black;
    border-radius: 5px;
}



/* Quiz page div */


.quiz{
    display: none;
    background-image: url('images/lines.jpg');
    background-size: cover;
    width: 70%;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    opacity: 0.3;
    filter: blur(5px);
}


.quiz .question p{
    font-size: 25pt;
    font-weight: bold;
    color: black;
    font-family: "Candara";
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
    margin-bottom: 50px;
    padding: 30px;
    backdrop-filter: blur(5px);
}

.quiz .answers-one{
    display: none;
}

/* Questions with no answers */

.question-form {
    display: none;
    border-bottom: 2px solid lightgray;
}

.question-form #input-question{
    font-size: 17pt;
    font-family: "Candara";
    width: 50%;
    margin-left: 25%;
    height: 50px;
}

.question-form #answer-submit{
    display: block;
    text-decoration: none;
    font-size: 15pt;
    font-weight: bold;
    color: white;
    padding: 10px;
    width: 50%;
    margin-left: 25%;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 5px;
    background-color: blue;
    opacity: 0.6;
    transition: 0.3s;
    border: 2px solid black;

}

.question-form #answer-submit:hover{
    opacity: 1;
}


/* Questions with answers */

.quiz .answers-two{
    display: none;
    border-bottom: 2px solid lightgray;
    padding-bottom: 30px;
}

.quiz .answers-one a, .quiz .answers-two a{

    text-decoration: none;
    padding: 20px;
    display: block;
    background-color: blue;
    font-size: 15pt;
    font-family: "Candara";
    margin-bottom: 20px;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    opacity: 0.6;
    transition: 0.3s;
    border: 2px solid black;
    pointer-events: none;
}
.quiz a:hover{
    background-color: blue;
    opacity: 1;
}


.quiz .pre #timer{
    font-size: 20pt;
    font-weight: bolder;
    color: red;
    margin-left: 10px;
    
}

.quiz .pre #twenty-timer{
    font-size: 20pt;
    float: left;
    color:black;
    margin-left: 20px;
    font-family: "Candara";
}

.quiz .pre #q-count{
    font-size: 20pt;
    font-family: "Candara";
    float: right;
    color:black;
    margin-right: 20px;
}

.quiz .bottom-btns #exit{

    float:left;
    text-decoration: none;
    display: block;
    background-color: white;
    color: darkblue;
    border: 2px solid darkblue;
    font-weight: bold;
    font-size: 17pt;
    font-family: "Candara";
    margin-left: 17px;
    margin-top: 10px;
    padding: 10px;
    pointer-events: none;
}

.quiz .bottom-btns #exit:hover{
    background-color: blue;
    color: white;
}

.quiz .bottom-btns #next{
    float:right;
    text-decoration: none;
    display: block;
    background-color: darkblue;
    color: white;
    font-weight: bold;
    font-size: 17pt;
    font-family: "Candara";
    border: 2px solid darkblue;
    margin-right: 17px;
    margin-top: 10px;
    padding: 10px;
    pointer-events: none;
}

.quiz .bottom-btns #next:hover{
    background-color: blue;
}


/* Between Page */
.pre-quiz{
    display: none;
    text-align: center;
    position: absolute;
    z-index: 2;
    width: 50%;
    margin-left: 25%;
    border: 3px solid red;
    margin-top: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

.pre-quiz #timer-between{

    font-size: 50pt;
    color: white;
    font-weight: bold;
    font-family: "Candara";
    border-radius: 5px;
}

.pre-quiz #text-between{
    border-bottom: 2px solid white;
    font-size: 25pt;
    color: white;
    font-family: "Candara";
    padding: 10px;
}

/* Results page */

.results{
    display: none;
    width: 400px;
    background-image: url('images/lines.jpg');
    background-size: cover;
    border-radius: 5px;
    margin-top: 150px;
    margin-bottom: 100px;
    padding: 20px;
}

.results .header{
    text-align: center;
    border-bottom: 2px solid lightgray;
}

.results .header h2{
    font-family: "Candara";
    font-weight: bold;
    font-size: 27pt;
    margin-bottom: 30px;
    color: black;
}

.results .score{
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid lightgray;
    margin-bottom: 20px;
}

.results .score #para{
    font-family: "Candara";
    font-weight: bold;
    font-size: 20pt;
    margin-bottom: 30px;
    color: black;
}

.results .score #score{
    font-family: "Candara";
    font-weight: bold;
    font-size: 30pt;
    color: green;
}

.results .score #restart{
    text-decoration: none;
    display: block;
    background-color: darkblue;
    color: white;
    font-weight: bold;
    font-size: 15pt;
    font-family: "Candara";
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    padding: 10px;
}

.results .score #restart:hover{
    background-color: blue;
}

.results .table{
    display: block;
    width: 300px;
    margin-left: 30px;
    text-align: center;
    padding: 20px;
    margin-bottom: 15px;
    border-bottom: 2px solid lightgray;
}

.results .table #table{
    font-family: "Candara";
    font-weight: bold;
    font-size: 25pt;
    margin-bottom: 15px;
    color: black;
}

.results .table p{
    font-family: "Candara";
    font-size: 17pt;
    color: black;
}


