body{
    margin: 0;
    padding: 0;
    background-image: url("images/bg.jpg");
}

/* Login page div */

.login{
    display: block;
    background-image: url('images/lines.jpg');
    /*background-color: rgba(255, 255, 255, 0.8);*/
    width: 400px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 5px;
    padding: 20px;
}


.login .wlcm h2{
    text-align: center;
    color: black;
    font-family: "Candara";
    font-size: 25pt;
    font-weight: bold;
}

.login .avatar{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}

.login .avatar img{
    width:120px;
    height: 120px;
}

.login .form{
    display: block;
    margin: auto;
    text-align: center;
}

.login .form #input{
    height: 50px;
    font-size: 14pt;
    font-weight: bold;
    font-family: "Candara";
}
.login .form #submit{
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    vertical-align: middle;
    background-color: darkblue;
    color: white;
    font-size: 14pt;
    font-weight: bold;
    font-family: "Candara";
    margin-bottom: 20px;
}

.login .form #submit:hover{
    background-color: blue;
    color: white;

}

/*Rules page div */


.rules{
    display: none;
    background-image: url('images/lines.jpg');
    background-size: cover;
    width: 70%;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}

.rules .header h2{
    font-family: "Candara";
    font-weight: bold;
    font-size: 27pt;
    margin-bottom: 30px;
    color: black;
}

.rules .text p{
    padding: 40px;
    font-size: 17pt;
    font-family: "Candara";
    font-weight: 500;
    color: black;
    border-top: 2px solid lightgrey;
    border-bottom: 2px solid lightgrey;
    margin-top: 20px;
    background-clip: padding-box;
    backdrop-filter: blur(5px);

}

.rules .begin #start{
    margin-top: 10px;

    display: block;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    vertical-align: middle;
    background-color: darkblue;
    color: white;
    font-size: 14pt;
    font-weight: bold;
    font-family: "Candara";
    margin-bottom: 10px;
    float: right;
    width: 200px;
    margin-right: 20px;

}

.rules .begin #start:hover{
    background-color: blue;
}

.rules .text mark{
    background-color: lightblue;
    color: black;
    border-radius: 5px;
}



/* Quiz page div */


.quiz{
    display: none;
    background-image: url('images/lines.jpg');
    background-size: cover;
    width: 70%;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}

.quiz .question p{
    font-size: 25pt;
    font-weight: bold;
    color: black;
    font-family: "Candara";
    border-bottom: 2px solid lightgray;
    margin-bottom: 50px;
    padding: 20px;
}

.quiz a{

    text-decoration: none;
    padding: 20px;
    display: block;
    background-color: blue;
    font-size: 15pt;
    font-family: "Candara";
    margin-bottom: 20px;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    opacity: 0.6;
    transition: 0.3s;
    border: 2px solid black;
}

.quiz a:hover{
    background-color: blue;
    opacity: 1;
}

