body{
    padding: 0;
    margin: 0;
    background-color: #e3e2dd;
}

.navigation-bar{
    height: 70px;
    background-color: black;
}

.navigation-bar .box .logo{
    width: 15%;
    height: 70px;
    line-height: 60px;
    float: left;
}


.navigation-bar .box .logo a{
    text-decoration: none;
}

.navigation-bar .box .logo a span{
    font-family: "Impact";
    background-color: rgb(145, 71, 255);
    color: black;
    font-size: 17pt;
    padding: 8px;
    border-radius: 5px;
    margin-left: 20px;  
}

.navigation-bar .input{
    float: left;
    height: 70px;
    line-height: 60px;
    width: 35%;
}

.navigation-bar .input a{
    text-decoration: none;
    font-size: 15pt;
    font-family: "Candara";
    color: rgb(145, 71, 255);
    border-radius: 5px;
    background-color: white;
    padding: 7px;
    border: 2px solid rgb(145, 71, 255);
}

.navigation-bar .input a:hover{
    background-color: rgb(145, 71, 255);
    color: white;
}


.navigation-bar .input input{
    margin-left: 10px;
    margin-top: -5px;
    line-height: 40px;
    width: 250px;
    border: none;
    border-radius: 5px;
    font-family: "Candara";
    font-size: 15pt;
    outline: none;
}

.navigation-bar .links{
    text-align: right;
    float: left;
    width: 50%;
    height: 70px;
    line-height: 60px;
}

.navigation-bar .links .link{
    text-decoration: none;
    font-size: 15pt;
    font-family: "Candara";
    color: white;
    margin-right: 20px;
    padding: 9px;
    border-radius: 5px;
}

.navigation-bar .box .links a:hover{
    background-color: rgb(145, 71, 255);

}

.navigation-bar .btn{
    float: left;
    display: none;
    height: 70px;
    line-height: 60px;
    cursor: default;
}


.navigation-bar .btn span{
    display: none;
    color: white;
    border-radius: 3px;
    font-size: 15pt;
    padding: 9px;
    border: 2px solid white;
    margin-top: 2px;
    width: 40px;
    cursor: pointer;
}




/* Movies part of the page */

.movies{
    margin-top: 70px;
    background-color: white;
    border-radius: 5px;
    border: 3px solid lightgrey;
    box-shadow: 5px 5px 3px grey;
}

.movies .row .col-md-3 .title{
    height: 70px;
}

.movies .row .col-md-3{
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid lightgrey;
    height: 400px;
} 

.movies .row .col-md-3 h3{
    font-family: "Candara";
    color: black;
    font-weight: bold;
}

.movies .row .col-md-3 img{
    width: 200px;
    height: 250px;
    
    border-radius: 3px;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
}

.movies .row .col-md-3 img:hover{
    transform: scale(1.2);
    transition: 0.4s;
}

.footer{
    background-color: black;
    text-align: center;
    padding: 50px;
}

.footer a{
    font-size: 30pt;
    padding: 20px;
}

.footer a i:hover{
    color: rgb(145, 71, 255);
}

.footer a i {
    color: white;
}

.footer p{
    color: white;
    font-family: "Candara";
    font-size: 13pt;
    margin-top: 30px;
}

.genres{
    margin-top: 70px;
    background-color: rgba(211, 211, 211, 0.2);
}

.genres .row{
    padding: 20px;
    text-align: center;
    border: 2px solid rgba(211, 211, 211, 0.2);
}

.genres .row a{
    font-family: "Candara";
    font-size: 20pt;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

.genres .row a:hover{
    background-color: rgba(211, 211, 211, 0.2);
}

.movie{
    background-color: white;
    border: 2px solid lightgrey;
    box-shadow: 5px 5px 3px grey;
    margin-top: 70px;
}

.movie .row{
    padding: 40px;
}

.movie .star1, .movie .star2, .movie .star3, .movie .star4, .movie .star5{
    font-size: 20pt;
    margin-top: 10px;
    color: darkgrey;
}

.movie .text{
    margin-top: 30px;
}


.movie h2{
    font-weight: bold;
    text-shadow: 1px 1px 1px grey;
    margin-top: 20px;
    margin-bottom: 30px;
}

.movie h3{
    font-weight: bold;
    text-shadow: 1px 1px 1px grey;
}

.movie p{
    font-size: 13pt;
    padding: 10px;
    background-color: #e3e2dd;
    border-radius: 5px;
}

.movie .row .img{
    text-align: center;

}

.movie .row .img img{
    width: 500px;
    height: 600px;
    border-radius: 5px;
}

.movie .row .description{
    color: black;
    font-family: "Candara";
    margin-top: 60px;
    
}




@media screen and (max-width: 1050px){
    .navigation-bar .links{
        z-index: 2;
        position: absolute;
        top: -290px;
        right: 0;
        width: 100%;
        background: #222222;
        display: inline-block;
        transition: top .4s;
    }

    .navigation-bar .box .show {
        top: 70px;
    }

    .navigation-bar .box .links{
        text-align: center;
    }

    .navigation-bar .box .links a{
        font-size: 12pt;
    }

    .navigation-bar .btn{
        display: block;
        width: 40%;
        text-align: right;
    }

    .navigation-bar .btn span{
        display: block;
    }

    .navigation-bar .input input{
        width: 200px;
    }

    .navigation-bar .box .logo{
        width: 25%;
    }
}

@media screen and (max-width: 900px){
    .navigation-bar .box .logo{
        width: 22%;
    }

    .navigation-bar .input{
        width: 64%;
    }
    .navigation-bar .btn{
        width:14%;
    }
}
