/* purple rgb 145 71 255 */

/* Sign in page */


body{
    margin: 0;
    padding: 0;
    background-color: #e3e2dd;
}

.login{
    display: block;
    width: 80%;
    padding: 30px 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: white;
    border-radius: 5px;
}
.login .red{
    border-top: 2px solid #e3e2dd;
    border-bottom: 2px solid #e3e2dd;
}


.login .red .left{
    padding: 4%;
    border-right: 0.5px solid #e3e2dd;
}

.login .red .left h2{
    margin-bottom: 40px;
    font-family: "Candara";
    font-weight: bold;
}
.login .red .left #lbl-username, .login .red .left #lbl-password{
    font-family: "Candara"; 
    font-size: 12pt;
}

.login .red .left #username, .login .red .left #password{
    width: 100%;
    margin-bottom: 20px;
    height: 45px;
    font-size: 13pt;
    font-family: "Candara";
}   

.login .red .left #log{
    display: block;
    text-align: center;
    font-size: 15pt;
    font-family: "Candara";
    font-weight: bold;
    text-decoration: none;
    background-color: white;
    color: grey;
    padding: 9px;
    width: 100%;
    border: 2px solid grey;
    border-radius: 3px;
}

.login .red .left #log:hover{
    background-color: rgb(145, 71, 255);
    border: 2px solid rgb(145, 71, 255);
    color: white;
}

.login .red .left #reg{
    margin-top: 30px;
    display: block;
    text-align: center;
    font-size: 15pt;
    font-family: "Candara";
    font-weight: bold;
    text-decoration: none;
    background-color: rgb(145, 71, 255);
    color: white;
    padding: 10px;
    width: 100%;
    border-radius: 3px;
}

.login .red .right{
    border-left: 0.5px solid #e3e2dd;
    padding: 4%;

}

.login .red .right h2{
    margin-bottom: 40px;
    font-family: "Candara";
    font-weight: bold;
}

.login .red .right h4{
    font-family: "Candara";
    font-weight: bold;
    margin-bottom: 5px;
}

.login .red .right p{
    font-family: "Candara";
    font-size: 12pt;
    margin-bottom: 20px;
}




/* Sign up page */

.signup{
    display: none;
    width: 450px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: white;
    border-radius: 5px;
}

.signup .logo{
    padding-left: 100px;
}

.signup #logo{
    width: 65%;
}


.signup h2{
    margin-bottom: 40px;
    font-family: "Candara";
    font-weight: bold;
}

.signup #name, .signup #surname, .signup #email, .signup #new-username, .signup #new-password{
    width: 350px;
    margin-bottom: 20px;

    height: 45px;
    font-size: 13pt;
    font-family: "Candara";
}

.signup #lbl-name, .signup #lbl-surname, .signup #lbl-email, .signup #lbl-new-username, .signup #lbl-new-password{
    font-family: "Candara"; 
    font-size: 12pt;
}

.signup #submit{
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 15pt;
    font-family: "Candara";
    font-weight: bold;
    text-decoration: none;
    background-color: white;
    color: grey;
    padding: 9px;
    width: 100%;
    border: 2px solid grey;
    border-radius: 3px;
}

.signup #submit:hover{
    background-color: rgb(145, 71, 255);
    border: 2px solid rgb(145, 71, 255);
    color: white;
}


.signup p{
    font-family: "Candara";
    font-size: 12pt;
    margin-bottom: 20px;
}