body{
	background-image: url('images/bg.jpg');
	font-family: Candara;
}

.navbar-header .navbar-brand{
	font-size: 17pt;
	font-family: Candara;
}
.first{
	background: rgba(255, 0, 0, 0.5);
}

.first .after-nav{
	margin-top: 70px;
	padding-bottom: 30px;

}

.first .after-nav h1{
	font-family: Candara;
	font-size: 60pt;
	padding-left: 35px;
}

.first .after-nav h2{
	padding-left: 35px;
}

.first .after-nav a{
	float:right;
	color: black;
}

.navbar-nav{
	float:right;
}

.cont .menu-title{
	background:rgba(204, 204, 204, 0.7); 
	margin-top: 25px;
	padding: 20px;
	text-align: center;
	border-top: 1px dotted grey;
	border-bottom: 1px dotted grey;
}

.cont .menu-list{
	background:rgba(204, 204, 204, 0.5);
}

img{
	border-radius: 10px;
	border: 3px solid white;
	width:600px;
	height:350px;
	box-shadow: 5px 5px 10px black;
	margin-top: 10px;
	margin-bottom: 10px;
}

.cont{
	box-shadow: 0px 10px 20px inset;
}

.cont .menu-list .txt{
	margin-top: 15px;
}

.cont .menu-list .txt ul{
	list-style-type: square;
	font-size: 15pt;
}

.cont .menu-list .txt .labels p{
	font-size: 13pt;
}


.cont-au .au-list { 
	background:rgba(204, 204, 204, 0.5);
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.cont-au .au-title{
	background:rgba(204, 204, 204, 0.7); 
	margin-top: 25px;
	padding: 20px;
	text-align: center;
	border-top: 1px dotted grey;
	border-bottom: 1px dotted grey;

}


.cont-au{
	box-shadow: 0px 10px 20px inset;
	text-align: center;
}

.cont-au .au-list .au p{
	font-size: 15pt;
}



.cont-footer{
	box-shadow: 0px 10px 20px inset;
}

.cont-footer .contact-title{
	background:rgba(42, 42, 42, 0.7); 
	margin-top: 25px;
	padding: 20px;
	text-align: center;
	border-top: 1px dotted grey;
	border-bottom: 1px dotted grey;

}

.cont-footer .contact-list{
	background:rgba(42, 42, 42, 0.5);
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 30px;
	padding-bottom: 30px;
}



