body{
	background-image: url('images/background.png'); 
	margin:0; 
	padding:0;
	font-family: Georgia;
	font-size: 12pt;
}

.heading{
	text-align: center;
}

.center{
	background-color: #A2B964; /* Boja centra je boja cele sredisnje sekcije, sem footera, pa su preko nje 
									dodate ostale boje. */
	width:55%;
	margin:auto;
	box-shadow: 5px 5px 5px grey;  /* U tekstu pise sivi okvir, pretpostavka: senka glavnog dela stranice. 
										Pretpostavka izvedena iz slike primera. */

	display: table;
	clear:both;
}

.header{
	background-image: url('images/rbg.png');
	margin-bottom: 1rem;
	height: 83px;  /* Baner se nije lepo prikazivao, pa sam na osnovu slike koja predstavlja baner(rgb.png),
					postavio konkretno definisanu visinu. */

}

.grade{
	margin-bottom: 6px;
	vertical-align: bottom;
	color: red;
	font-size: 48pt;
	font-weight: bold;
	font-family: Arial;
	display: inline-flex;
}

.left{
	float:left;
	width:70%;
	background-color: #EEEEEE;
}

.right{
	float: left;
	width:30%;


}

#w3c{
	clear:both;
	text-align: right;
}

footer{
	background-color: #A2B964;
	padding: 0.5em;
	text-align: center;
	font-weight: bold;
	clear:both;
}

.bleach{
	width:100%;
}

.textd{
	margin-top: 15px;
	padding-left: 15px;
	padding-right: 10px;
	font-family: Helvetica;
	font-size: 12pt;

}

dt{
	font-weight: bold; /* Boldovani samo naslovi, zbog slike primera */
	margin-top: 15px;
}

ul{
	list-style-type: none;
	margin:0;
	padding:0;
}

img{
	margin-right: 5px;
}

.publication{
	
	margin-left: 9%; /* Konkretno definisana vrednost, radi manjeg koplikovanja koda. 
						P.S. Uradjeno na kraju. */
	font-style: italic;
}

.quotebubble{
	
	font-family: Georgia;
	margin-left: 5%;
	margin-right: 5%;
	background-color: #FFFFFF;
	border: 2px solid #CCCCCC;
	border-radius: 12px;
	padding: 1em;

}

p{
	font-family: Georgia;
	font-size: 13pt;
	margin-left: 5%; 
}